@import '../../css/includes/variables';

/* Footer Contact */
.FooterContactContainer, .FooterBottom {
    display: flex;
    align-items: center;
}

.FooterContactContainer {
    background: $purple_translucent;
    min-height: 505px;
    text-align: center;
}

.FooterContact {
    width: 80 * $pixels;
    margin: (6 * $pixels) auto;
}

.FooterContact h2 {
    margin: 0;
}

.Contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 (3 * $pixels);

    label {
        font-size: 0.75em;
        opacity: 0.75;
        text-align: left;
    }

    label:nth-of-type(1n), input:nth-of-type(2n) {
        grid-column: 1;
    }

    label:nth-of-type(2n), input:nth-of-type(3n) {
        grid-column: 2;
    }

    label:nth-of-type(2) {
        grid-row: 1;
    }

    label:nth-of-type(4) {
        grid-row: 3;
    }

    input:not([type="submit"]), textarea {
        box-shadow: $shadow;
        border-radius: 3 * $pixels;
        border: 0;
        display: block;
        padding: ($pixels/2) (2.5 * $pixels);
        line-height: 1.5em;
        background: white;   
        width: calc(100% - (5 * #{$pixels}));    
        margin: (1.5 * $pixels) 0;
        resize: none;
        transition: box-shadow 0.5s;
    }
    input:not([type="submit"]):focus, textarea:focus {
        outline: none;
        box-shadow: $pixels $pixels $pixels $light_blue_translucent;
    }

    #message, #submit, #subject, label:last-of-type {
        grid-column: span 2;
    }

    #message {
        min-height: 6 * 1em;
    }

    #submit {
        color: black;
        background: $light_blue_solid!important;
        margin: (1.5 * $pixels) 0;
    }

    #submit:hover {
        border-radius: 24px!important;
    }
    
    #submit:focus {
        outline: none;
        box-shadow: $pixels $pixels $pixels $dark_purple_translucent;
    }

    #SubmitContainer {
        grid-column: span 2;
        text-align: left;
    }
}

footer {
    color: white;
}

/* Footer Bottom */

.FooterBottomContainer {
    background: $dark_purple_translucent;
    min-height: 330px;
    padding: 0 (18 * $pixels);
    color: white;
    line-height: 1.5em;
}

.FooterSitemap {
    text-align: left;
    margin: (6 * $pixels) 0;
}

.FooterSitemap h2 {
    margin-bottom: 3 * $pixels;
    margin-top: 0;
}

.FooterNavLink {
    background-image: linear-gradient(
    	to right,
	    #2C75FF,
	    #2C75FF 50%,
        white 50%
    );
    display: block;
}

.FooterTestimonials {
    width: 50 * $pixels;
    text-align: right;
    margin-left: auto;
}

.FooterCopyright {
    font-size: 0.75em;
    padding-bottom: 3 * $pixels;
}

.FooterCopyright p {
    margin: 0;
}
