@import '../../css/includes/variables';

.Info {
    background: $purple_translucent;
    padding: (6 * $pixels) (16 * $pixels);
    color: white;
}

.Info h2 {
    margin-top: 0;
}

.InfoItem {
    text-align: center;
    background-color: rgba(83, 75, 174, 0.75);
    border-radius: 3 * $pixels;
    padding: 2 * $pixels;
    box-shadow: $shadow;
}

@media(max-width: 1200px) {
    .Info {
        padding: (6 * $pixels);
    }
}

@media (max-width: 950px) {
    .InfoGrid  {
        grid-template-columns: 1fr 1fr;
    }

    .InfoGrid .InfoItem {
        justify-self: center!important;
        max-width: 550px;
    }
}

@media (max-width: 700px) {
    .InfoGrid  {
        grid-template-columns: 1fr;
    }
}

@media(max-width:400px) {
    .Info {
        padding: (6 * $pixels) (2 * $pixels);
    }
}