@import '../../css/includes/variables';

@font-face {
    font-family: 'FontAwesome';
  font-display: block;
    src: url('https://www.joebaileyphotography.com/webfonts/font-awesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Header */

.GlobalHeader {
    position: fixed;
    z-index: 99;
    top: 0;
    width: calc(100% - (12 * #{$pixels}));
    height: 100px;
    padding: 0 (6 * $pixels);
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.HeaderContainer {
    height: 100%;
}

/* Logo */

.LogoContainer, .LogoLink, .Logo {
    display: inline;
}

.LogoContainer {
    font-family: 'Baloo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    display: flex;
    float: left;
    height: 100px;
}

.Logo {
    background: linear-gradient($light_purple_solid, $dark_purple_solid);
    background-clip: text;
    color: rgba(0,0,0,0);
}

.LogoLink {
    align-self: center;
}

.LogoLink:hover {
    transition: none;
    background-position: auto;
}

/* Navigation */

.NavigationContainer {
    float: right;
    display: flex;
    height: 100px;
    
}

.Navigation {
    align-self: center;
}

.NavLink {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 200;
    font-size: 1.25em;
    color: #000000;
    padding: 0 (2 * $pixels);
}

.NavLink:first-of-type {
    padding-left: 0;
}

.NavLink:last-of-type {
    padding-right: 0;
}

.NavbarToggler {
    display: none;
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-bars:before {
  content: "\f0c9";
}

@media (max-width: 830px) {    
    .Navmob {
        position: fixed;
        display: block;
        width: 304px;
        height: 100vh;
        background-color: #fff;
        left: 0;
        transition: 1s;
        z-index: 99;
        top: 8 * $pixels;
    }

    .Navmob.closed {
        left: -304px;
    }

    #Close.closed {
        opacity: 0;
    }

    #Close {
        width: 100vw;
        top: 0;
        height: calc(100vh - 50px);
        position: absolute;
        padding: 0;
        left: 304px;
        opacity: .7;
        background-color: #000;
        transition: opacity 1s;
    }

    .NavLink {
        display: block;
        padding: $pixels (3 * $pixels)!important;
    }

    .GlobalHeader, .LogoContainer {
        height: 8 * $pixels;
    }

    .LogoLink, .LogoContainer {
        width: 100%;
        text-align: center;
    }

    .NavbarToggler {
        display: block;
        position: absolute;
        top: (8 * $pixels - 32px)/2;
        left: 3 * $pixels;
    }

    .NavbarToggler .fa-bars {
        font-size: xx-large;
        display: flex;
        justify-content: center;
        color: #000051;
    }
}