@import '../../css/includes/variables';

.People {
    padding: 0 (16 * $pixels) (6 * $pixels) (16 * $pixels);
}

.Person {
    background: $light_blue_translucent;
    color: white;
    text-align: center;
    padding: (5 * $pixels) (7.5 * $pixels);
    position: relative;
    padding-top: calc(236px / 2);
    box-shadow: $shadow;
}

.Person picture {
    position: absolute;
    left: 7.5 * $pixels;
    right: 7.5 * $pixels;
    top: calc(-236px / 2);
}

.People .SpaceBackground, .Person, .Person img {
    border-radius: 3 * $pixels;
    box-shadow: $shadow;
}

.People .SpaceBackground {
    margin-top: calc(236px / 2);
}

.PersonDescription {
    margin-bottom: 0;
}

@media (max-width: 400px) {
    .People {
        padding: (6 * $pixels) (2 * $pixels)
    }

    .Person {
        padding: 25% (2 * $pixels) (6 * $pixels)
    }
    
    .Person picture {
        left: 3 * $pixels;
        right: 3 * $pixels;
    }
}