@import '../../css/includes/variables';

.ServicesGrid {
    padding: 0 (16 * $pixels) (6 * $pixels) (16 * $pixels);
}

.ServicesGrid .SpaceBackground:first-of-type {
    justify-self: end;
}

.ServicesGrid .SpaceBackground:last-of-type {
    justify-self: start;
}

.ServicesGrid .ReadMore {
    font-size: 1.125em;
    text-shadow: $shadow;
}

.Services {
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 3 * $pixels;
    color: white;
    text-align: center;
    padding: 2 * $pixels;
    transition: 0.5s;
    &:hover {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.06);
        transform: scale(1.04);
        border-radius: 6px;
    }
}

.OtherServices .Services h2 {
    line-height: 105px;
    margin: 0;
}

.Services p:last-of-type {
    padding-bottom: 2 * $pixels;
}

.Services h2, .Services p {
    -webkit-text-fill-color: white!important;
}

.OtherServices .SpaceBackground {
    border-radius: 3 * $pixels;
    max-width: 480px;
    transition: 0.5s;
    &:hover {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.06);
        transform: scale(1.04);
        border-radius: 6px;
    }
}

.OtherServices h2 {
    text-align: center;
    margin: (6 * $pixels) auto;
}

.Purple {
    background-color: rgba(83, 75, 174, 0.6);
}

.Blue {
    background-color: rgba(84, 114, 211, 0.8);
    &:hover {
        transform: scale(1);
    }
}

@media (max-width: 1200px) {
    .ServicesGrid {
        padding: 0 (6 * $pixels) (6 * $pixels) (6 * $pixels);
    }
}

@media (max-width: 950px) {
    .ServicesGrid {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }
}

@media (max-width: 700px) {
    .ServicesGrid {
        grid-template-columns: 1fr;
        grid-gap: 6 * $pixels;
    }

    .ServicesGrid .SpaceBackground {
        justify-self: center!important;
    }
}

@media (max-width: 400px) {
    .ServicesGrid {
        padding: 0 (2 * $pixels) (6 * $pixels) (2 * $pixels);
        grid-gap: 2 * $pixels;
    }
}