@import '../../../css/includes/variables';

.Home {
    #Home.NavLink {
        transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
        background-position: 0%;
    }
    #HomePageServices {
        background: $purple_translucent;
        padding: (18 * $pixels) (16 * $pixels);
    }
    
    .PageHeader {
        background: linear-gradient(90deg, rgba(83, 75, 174, 0.8) 0%, rgba(0, 0, 81, 0.8) 100%);
    }
    
    .HomeInfoContainer {
        padding: 0 (18 * $pixels);
        margin-bottom: -(6 * $pixels);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .FloatingInfoBox {
        float: left;
        background-color: white;
        border-radius: 3 * $pixels;
        width: 35vw;
        padding: 6 * $pixels;
        margin-right: -(20 * $pixels);
        margin-top: 6 * $pixels;
        box-shadow: $shadow;
        z-index: 2;
        position: relative;
        margin-bottom: calc(100px + (3 * #{$pixels}));
        grid-column: 1;
    }
    
    .InfoTitle {
        font-family: 'Baloo', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        margin: 0;
        width: 75%;
    }
    
    .BlueTongue, .HomeInfoContainer .SpaceBackground {
        border-radius: 0 0 (3 * $pixels) (3 * $pixels);
    }
    
    .HomeInfoContainer:before,
    .HomeInfoContainer:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }
    
    .HomeInfoContainer:after {
      clear: both;
    }
    
    .HomeInfoContainer .SpaceBackground {
        height: 100%;
        width: 50vw;
        margin-left: auto;
        position: relative;
    }
    
    .BlueTongue {
        box-shadow: $shadow;
        background: $light_blue_translucent;
        color: white;
        height: 100%;
    }
    
    .SpaceBackground.Button {
        border-radius: 3* $pixels!important;
    }
    
    .SpaceBackground.Button:hover {
        border-radius: 6px!important;
    }

    .PortfolioContainer {
        position: absolute;
        right: -6 * $pixels;
        top: 30%;
        width: 50%;
    }
    
    .PortfolioContainer p {
        margin-top: 0;
    }
    
    .PortfolioContainer h2, .PortfolioContainer p {
        width: 75%;
    }
    
    .PortfolioImages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: black;
    }
    
    .PortfolioImages img {
        transition: 0.5s;
        cursor: pointer;
        display: block;
    }
    
    .PortfolioImages img:hover {
        opacity: 0.75
    }
    
    .PortfolioContainer h2 {
        margin: 0;
    }
    
    .Blog h2 {
        margin: (6 * $pixels) (18 * $pixels);
    }

    @media (max-width: 1560px) {
        .PortfolioContainer {
            top: 12 * $pixels;
        }
    }

    @media (max-width: 1200px) {
        .HeaderRight picture {
            z-index: 3;
            top: 7.5%;
        }

        #HomePageServices {
            padding: (10 * $pixels) (6 * $pixels);
        }

        .HomeInfoContainer {
            padding: 0 (10 * $pixels) (6 * $pixels);
        }

        .Blog h2 {
            margin: (6 * $pixels) (6 * $pixels)
        }
        
        .HomeInfoContainer {
            grid-template-columns: 1fr;
        }

        #HomePageServices, .FloatingInfoBox, .PortfolioContainer {
            padding: (6 * $pixels);
        }

        .HomeInfoContainer {
            margin: 0;
            padding: 0;
            margin-top: -(3 * $pixels);

            .SpaceBackground {
                height: auto;
                width: auto;
                margin: 0;
                margin-top: -(3 * $pixels);
                .BlueTongue {
                    height: auto;

                    .PortfolioContainer {
                        p, h2 {
                            width: 100%;
                            margin: 0.5em 0;
                        }
                    }

                    .PortfolioImages {
                        width: auto;
                    }
                }
            }
            
            .FloatingInfoBox {
                border-radius: 3 * $pixels;
            }

            &:before, &:after {
                content: none;
            }
        }
        
        .FloatingInfoBox {
            float: none;
            margin: 0;
            width: auto;
            border-radius: 0;
        }

        .BlueTongue, .HomeInfoContainer .SpaceBackground {
            border-radius: 0;
        }

        .PortfolioContainer {
            position: relative;
            width: auto;
            top: 0;
            right: 0;
        }
    }

    @media (max-width: 950px) {
        #HomePageServices {
            grid-template-columns: 1fr;
            grid-gap: 6 * $pixels;
        }
    }
    
    @media (max-width: 400px) {
        .Blog h2 {
            margin: (6 * $pixels) (2 * $pixels)
        }

        #HomePageServices, .FloatingInfoBox, .PortfolioContainer {
            padding: (6 * $pixels) (2 * $pixels);
        }
    }
}