.page-enter-active, .page-leave-active {
  transition: opacity .33s ease-out
}
.page-enter, .page-leave-to {
  opacity: .2
}
@media (prefers-reduced-motion: reduce) {
  .page-enter-active, .page-leave-active {
    transition: none
  }
}
