.page-enter-active, .page-leave-active {
  transition: .33s
}
.page-enter, .page-leave-to {
  opacity: .33
}
@media (prefers-reduced-motion: reduce) {
  .page-enter-active, .page-leave-active {
    transition: none
  }
}
