@import '../../../css/includes/variables';

.webp .Photography .PageHeaderContainer {
    background-image: url(../../../img/photography_background.webp);
}

.no-webp .Photography .PageHeaderContainer {
    background-image: url(../../../img/photography_background.jpg);
}

.Photography {
    #Photography.NavLink {
        transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
        background-position: 0%;
    }

    .BlogPortfolio {
        padding: 0 (16 * $pixels) (6 * $pixels) (16 * $pixels);
    }

    .HeaderRight {
        position: relative;
    }

    .HeaderRight picture {
        top: auto;
    }

    @media (max-width: 1200px) {
        .BlogPortfolio {
            padding: 0 (6 * $pixels);
        }
    }

    @media (max-width: 400px) {
        .BlogPortfolio {
            padding: 0 (2 * $pixels);
        }
    }
}