@import './variables';

/* Variables */
:root {
    --scrollbar-minlength: 1.5rem; /* Minimum length of scrollbar thumb (width of horizontal, height of vertical) */
    --scrollbar-ff-width: thin; /* FF-only accepts auto, thin, none */
}
  
/* Use .layout-scrollbar-obtrusive to only use overflow if scrollbars don’t overlay */
.scrollbar-test {
overscroll-behavior: contain;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
-ms-overflow-style: -ms-autohiding-scrollbar;
scrollbar-width: var(--scrollbar-ff-width);
}

.scrollbar-test::-webkit-scrollbar-thumb:vertical {
min-height: var(--scrollbar-minlength);
}

.scrollbar-test::-webkit-scrollbar-thumb:horizontal{
min-width: var(--scrollbar-minlength);
}
  
html {
	overflow-x: hidden;
}

html.with-featherlight {
    overflow-y: hidden;
	width: 100%;
}

html.with-featherlight body {
	overflow-y: scroll;
}

html.with-featherlight.featherlight-fix {
    .cc-window.cc-banner.cc-type-info.cc-theme-edgeless.cc-bottom {
        width: calc(100% - 17px);
    }

    .GlobalHeader {
        width: calc(100% - 17px - (12 * #{$pixels}) );
    }

    .HeaderRight picture {
        right: 17px;
    }
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

.featherlight {
	-webkit-overflow-scrolling: touch;
	display: none;

	/* dimensions: spanning the background from edge to edge */
	position:fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2147483647; /* z-index needs to be >= elements on the site. */

	/* position: centering content */
	text-align: center;

	/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
	white-space: nowrap;

	/* styling */
	cursor: pointer;
	background: #333;
	/* IE8 "hack" for nested featherlights */
	background: rgba(0, 0, 0, 0);
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.featherlight:last-of-type {
	background: rgba(0, 0, 0, 0.8);
}

.featherlight:before {
	/* position: trick to center content vertically */
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.featherlight .featherlight-content {
	/* make content container for positioned elements (close button) */
	position: relative;

	/* position: centering vertical and horizontal */
	text-align: center;
	vertical-align: middle;
	display: inline-block;

	/* dimensions: cut off images */
	overflow: auto;
	overflow-y: hidden;
	padding: 0px;

	/* dimensions: handling large content */
	max-height: 95%;

	/* styling */
	cursor: auto;

	/* reset white-space wrapping */
	white-space: normal;
}

/* contains the content */
.featherlight .featherlight-inner {
	-webkit-animation: fadein .5s;
    animation: fadein .5s;
	/* make sure its visible */
	display: block;
}

/* don't show these though */
.featherlight script.featherlight-inner,
.featherlight link.featherlight-inner,
.featherlight style.featherlight-inner {
	display: none;
}

.featherlight .featherlight-close-icon {
	position: fixed;
	z-index: 9999;
	cursor: pointer;
	text-align: center;
	font-family: Arial, sans-serif;
	color: rgb(255,255,255);
	padding: 0;
	height: 30px;
	width: 30px;
	right: 25px;
	top: 25px;
	white-space: nowrap;
	font-size: xx-large;
	opacity: 0.6;
	background-color: transparent;
}
.featherlight .featherlight-close-icon:hover {
	opacity: 1;
}
/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.featherlight .featherlight-close-icon::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.featherlight .featherlight-image {
	/* styling */
	width: 100%;
}


.featherlight-iframe .featherlight-content {
	/* removed the border for image croping since iframe is edge to edge */
	border-bottom: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}

.featherlight iframe {
	/* styling */
	border: none;
}

.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@-webkit-keyframes featherlightLoader { 
	0% { 
		-webkit-transform: rotate(0deg); 
		transform: rotate(0deg); 
	} 
 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg); 
	} 
} 
 
@keyframes featherlightLoader { 
	0% { 
		-webkit-transform: rotate(0deg); 
		transform: rotate(0deg); 
	} 
 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg); 
	} 
} 

.featherlight-loading .featherlight-content { 
  -webkit-animation: featherlightLoader 1s infinite linear; 
          animation: featherlightLoader 1s infinite linear; 
  background: transparent; 
  border: 8px solid #8f8f8f; 
  border-left-color: #fff; 
  border-radius: 80px; 
  width: 80px; 
  height: 80px; 
  min-width: 0; 
} 
 
.featherlight-loading .featherlight-content > * { 
  display: none !important; 
} 
 
.featherlight-loading .featherlight-close, 
.featherlight-loading .featherlight-inner { 
  display: none; 
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		max-height: 98%;
	}
}