$pixels: 8px;

$light_purple_solid: #534BAE;

$light_purple_translucent: rgba(83, 75, 174, 0.9);

$purple_solid: #1A237E;

$purple_translucent: rgba(26, 35, 126, 0.9);

$dark_purple_solid: #000051;

$dark_purple_translucent: rgba(0, 0, 81, 0.9);

$light_blue_solid: #5472D3;

$light_blue_translucent: rgba(84, 114, 211, 0.9);

$blue_solid: #0D47A1;

$dark_blue_solid: #002171;

$shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);