.Marketing {
    #Marketing.NavLink {
        transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
        background-position: 0%;
    }
    .PageHeaderContainer {
        background-image: url(../../../img/marketing_background.jpg);
    }
}