@import '../../../css/includes/variables';

.Marketing {
    #Marketing.NavLink {
        transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
        background-position: 0%;
    }

    .webp .PageHeaderContainer {
        background-image: url(../../../img/marketing_background.webp);
    }

    .no-webp .PageHeaderContainer {
        background-image: url(../../../img/marketing_background.jpg);
    }
}

@media(max-width:400px) {
    .Info {
        padding: (6 * $pixels) (2 * $pixels);
    }
}