@import 'includes/variables';

.SpaceBackground.Button {
    display: inline;
    padding: $pixels 0;
}

.Button, button {
    border-radius: 3 * $pixels;
    text-transform: uppercase;
    font-family: 'Crimson Pro';
    padding: ($pixels/2) (2.5 * $pixels);
    box-shadow: $shadow;
    border: 0;
    line-height: 1.5em;
    cursor: pointer;
    display: inline-block;
    color: white;
    transition: border-radius 0.5s;
}

.ColorOne {
    background: linear-gradient($purple_translucent, $dark_purple_translucent);
}

.ColorTwo {
    background: linear-gradient($light_blue_translucent, $blue_translucent)
}

.ColorOne:hover, .ColorTwo:hover, .SpaceBackground.Button:hover {
    border-radius: 6px;
}