@import "~grid/grid";
@import 'includes/variables';

.HeaderTitle {
    font-size: 72px;
    font-family: 'Baloo', cursive;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.SpaceBackground {
    background-image: url(../img/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.PageHeader {
    padding: 100px (18 * $pixels);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
 
.HeaderRight picture {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.HeaderInfo {
    width: 75%;
}

.PageHeaderContainer {
    background-repeat: no-repeat;
    background-size: cover;
}