@import 'fonts';
@import 'buttons';
@import 'cookies';
@import "~grid/grid";
@import 'includes/variables';

#content {
    margin-top: 100px;
}


.HeaderTitle {
    font-size: 72px;
    font-family: 'Baloo', cursive;
    font-style: normal;
    font-weight: normal;
    margin: 0
}

.SpaceBackground {
    background-repeat: no-repeat;
    background-size: cover;
}

.no-webp .SpaceBackground {
    background-image: url(../img/space.jpg);
}

.webp .SpaceBackground {
    background-image: url(../img/space.webp);
}

.PageHeader {
    padding: 100px (18 * $pixels);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
 
.HeaderRight picture {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: auto;
}

.HeaderRight picture img {
    max-width: 50vw;
    height: auto;
}

.HeaderInfo {
    width: 75%;
}

.PageHeaderContainer {
    background-repeat: no-repeat;
    background-size: cover;
}

.TextGradient {
    background: linear-gradient($light_purple_solid, $dark_purple_solid);
    background-clip: text;
    color: rgba(0,0,0,0)
}

@media (max-width: 1560px) {
    .HeaderRight picture {
        top: 58px
    }
}

@media (max-width: 1200px) {
    .HeaderTitle {
        font-size: 48px;
    }

    .PageHeader {
        padding: (10 * $pixels) (6 * $pixels)
    }
}

@media (max-width: 700px) {
    .HeaderRight {
        display: none
    }
    
    .HeaderInfo {
        width: auto
    }

    .PageHeader {
        padding: (6 * $pixels);
        grid-template-columns: 1fr
    }
}

@media (max-width: 400px) {
    .PageHeader {
        padding: (6 * $pixels) (2 * $pixels);
        grid-template-columns: 1fr
    }        
}